body{
    background-image: url('https://images.unsplash.com/photo-1605745341112-85968b19335b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2FyZ28lMjBzaGlwfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60');
    background-size: cover;                  
      /* text-align: center; */
      overflow: hidden;
  }

   .Login-box {
      width: 346px;
      height: auto;
      margin: auto;
      /* background-color: #ffffff91; */
      /* background-color: */
      background-color:#b3d7ffc4;
      margin-top: 67px;
      border-radius: 10% 10%;
       margin-top: 20px;
      
      text-align: center;
      margin-top: 41px;
    }

    h1 {
      text-align: center;
      padding-top: 15px;
    }

    form {
      width: 300px;
      margin-left: 20px;
    }
    form label {
      display: flex;
      margin-top: 20px;
      font-size: 20px;
      cursor: pointer;
      font-weight: 700;
    color: navy;
    }
    form input {
      width: 100%;
      padding: 7px;
      border: none;
      border: 1px solid gray;
      border-radius: 6px;
    }
   
    
    

    canvas{
/*prevent interaction with the canvas*/
pointer-events:none;
}
    .login-btn
    {
      
background-color:brown;
width: 76px;
height: 36px;
outline: none;
cursor: pointer;
font-size: 16px;
padding: 10px,85px;
text-align: center;
color: white;
}

 