<!DOCTYPE html>

<html lang="en">

<head>

    
    <link rel="stylesheet" href="../static/css/Dashboard.css" />
      <link rel="stylesheet" href=
"https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity=
"sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous"/> 

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- title of the page -->
    <title>Dash Board</title>
    <div style = "position:relative; left:80px; top:2px; background-color:yellow;"></div>

</head>

<body>
    <!-- Page heading -->
  <h1>Dash Board</h1>
   
  <form action="/Dashboard">
   

    <div class="box">
      
      <!-- Submit button -->
      <button type="button" class="btn btn-primary">
         <!-- Link to create shipment page -->

        <a href="/createshipment">createshipment</a>
       </button>
    
     
      <!-- Submit button -->
        <button type="button" class="btn btn-primary">
           <!-- Link to device data stream -->
          <a href="/DeviceData">Device Data stream</a>
    </button>

    </div>
    </form>
    
     
                </body>
                </html>