body{ 
    background-image: url('https://thumbs.dreamstime.com/b/vector-dry-cargo-ship-sea-loaded-boat-vector-illustration-dry-cargo-ship-sea-ocean-commerce-shipping-delivery-133424842.jpg');
    background-size: cover;
     font-family: 'Roboto',sans-serif;
     
     
  
     
 }
    

 .button-box
 {
     width: 400px;
     height:200px;
     margin:auto;
     background-color:brown;
     border-radius: 3px;
 
 }
 h1{
   text-align: center;
   
   padding-top: 10px;
  
   padding-left: 24PX;
   font-size: 30px;
  
 }
 
  label,select,option,input{
   display:inline-block;
   width:200px;
   height:42px;

   
     

  }

 input[type ="button"]{
     width: 120px;
     height: 35px;
     margin-top: 20px;
     border: none;
     background-color:brown;
     color:white
     
     
 }
 
  /* label,select,option,input{
   display:inline-block;
   width:200px;
   height:42px;
   
     

  }
*/
 input[type ="button"]{
     width: 120px;
     height: 35px;
     margin-top: 20px;
     border: none;
     background-color:brown;
     color:white
     
     
 }
 form {
display: block;
margin-top: 0em;
margin-left:18rem ;
}