body{ 
    background-image: url('https://cdn.pixabay.com/photo/2021/09/16/21/27/container-ship-6631117__480.jpg');
    background-size: cover;
     font-family: 'Roboto',sans-serif;
     
     
  
     
 }
    

 .button-box
 {
     width: 400px;
     height:200px;
     margin:auto;
     background-color:brown;
     border-radius: 3px;
 
 }
 h1{
   text-align: center;
   
   padding-top: 10px;
  
   padding-left: 24PX;
   font-size: 30px;
  
 }
 
  label,select,option,input{
   display:inline-block;
   width:200px;
   height:42px;
   color: aqua;
    font-weight: 700;

   
     

  }

 input[type ="button"]{
     width: 120px;
     height: 35px;
     margin-top: 20px;
     border: none;
     background-color:brown;
     color:white
     
     
 }
 
  /* label,select,option,input{
   display:inline-block;
   width:200px;
   height:42px;
   
     

  }
*/
 input[type ="button"]{
     width: 120px;
     height: 35px;
     margin-top: 20px;
     border: none;
     background-color:brown;
     color:white
     
     
 }
 form {
display: block;
margin-top: 0em;
margin-left:18rem ;
}