body{
    background-image: url('https://images.unsplash.com/photo-1578575437130-527eed3abbec?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c2hpcHBpbmd8ZW58MHx8MHx8&w=1000&q=80');
background-size: cover; 
text-align: center;
}

.signup-box
{
width: 374px;
height: auto;
margin:auto;
background-color: white;
margin-top: 67px


}
.signup-btn
{
background-color: aqua;
width: 100px;
height: 35px;
outline: none;
cursor: pointer;
font-size: 16px;
padding: 10px,85px;
}


h1 {
text-align: center;
padding-top: 15px;
}

form {
width: 300px;
margin-left: 20px;
}
form label {
display: flex;
margin-top: 20px;
font-size: 20px;
/* display: flex;  */
cursor: pointer;
}
form input {
width: 94%;
padding: 7px;
border: none;
border: 1px solid gray;
border-radius: 6px;

overflow: hidden;
max-height: 65px;
}
a{
color:navy blueviolet;
}




p {
text-align: center;
padding-top: 20px;
font-size: 15px;
color:black;
}



      


